.link {
  color: black;
  margin-right: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 4px;
}
.link:hover {
  color: rgb(22, 173, 179);
}
.link:global(.active) {
  color: rgb(22, 173, 179);
}
.wrapperLink {
  display: flex;
  margin-left: auto;
}
