.header {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 10px;
    justify-content: space-between;
  }
  .header > * {
    margin: 0;
  }

  .header > nav {
    margin-right: auto;
  }
}
