.header {
  padding: 20px;
  display: flex;
  align-items: center;
}
.linkContacts {
  color: #fff;
  text-decoration: none;
  margin-right: auto;
}
.linkContacts:hover {
  color: rgb(22, 173, 179);
}
.linkContacts:global(.active) {
  color: rgb(22, 173, 179);
}
