.wrapper {
  margin-top: 10em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 4em;
}

.link {
  color: green;
  font-weight: 600;
}

.link:hover,
.link:focus {
  text-decoration: underline;
}

.text {
  font-size: 3em;
}

.user {
  color: green;
}

/* Media queries for different screen sizes */

@media only screen and (max-width: 768px) {
  .wrapper {
    margin-top: 5em;
  }

  .title {
    font-size: 3em;
    margin-bottom: 2em;
  }

  .text {
    font-size: 2em;
  }
}

@media only screen and (max-width: 480px) {
  .wrapper {
    margin-top: 2em;
  }

  .title {
    font-size: 2em;
    margin-bottom: 1em;
  }

  .text {
    font-size: 1.5em;
  }
}
